* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
}

.header {
  margin: 0 auto;
  background: #ffffff;
  line-height: 1.19;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0px 25px 0px;
  border-bottom: solid 1px #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-top > span {
  color: #212121;
}

.logo-bottom {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-bottom: 20px;
}
.logo-bottom > span {
  color: #ffffff;
}

.navigation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation__item {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  line-height: 1.14;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.navigation__item:hover {
  color: #2196f3;
}
.navigation__item:focus {
  color: #2196f3;
}
.navigation__item--actives::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  -webkit-transform: translateY(31px);
          transform: translateY(31px);
  border-radius: 2px;
}
.navigation__list-item {
  padding-right: 46px;
}
.navigation__item:active {
  color: #2196f3;
}

.top-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
  margin-left: auto;
}
.top-contact__icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
}
.top-contact__icons:hover {
  fill: #2196f3;
  color: #2196f3;
}
.top-contact__icons--mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: auto;
}
.top-contact__icons--mail:hover {
  color: #2196f3;
}
.top-contact__icons--phone {
  width: 115px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
}
.top-contact__icons--phone:hover {
  color: #2196f3;
}
.top-contact__svg {
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 200px 0;
  display: flex;
  max-width: 1600px;
  max-height: 600px;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), color-stop(rgba(47, 48, 58, 0.4)), color-stop(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-color: rgba(47, 48, 58, 0.4);
  color: #ffffff;
}
.main__headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;
}
.main__button {
  background-color: #2196f3;
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 50px;
  color: #f5f4fa;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto";
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
}
.main__button:hover {
  -webkit-box-shadow: 2px 2px 10px #2f303a;
          box-shadow: 2px 2px 10px #2f303a;
  background-color: #757575;
  -webkit-transform: scale(1.05) translateY(0.125rem);
          transform: scale(1.05) translateY(0.125rem);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}
.section--no-top {
  padding-top: 0px;
  padding-bottom: 94px;
}

.container {
  display: block;
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__img {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.services__figure {
  width: 370px;
  height: 294px;
  padding: 0;
  margin: 0;
}
.services__description {
  color: #f5f4fa;
  font-weight: 700;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  font-family: Roboto;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  padding: 27px 0;
  top: -72px;
}

.assets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 94px;
  margin-bottom: 94px;
}
.assets__header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.assets__paragraph {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  padding-right: 30px;
  padding-top: 10px;
  letter-spacing: 0.03em;
}
.assets__icons {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.background-team {
  background-color: #f5f4fa;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
}
.team__item--job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.875;
  /* padding-bottom: 30px; */
  text-align: center;
  letter-spacing: 0.03em;
}
.team__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__card-icons {
  height: 44px;
  width: 44px;
  background-color: #ffffff;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}
.team__card-icons:hover {
  fill: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  border-color: #2196f3;
}

.section-clients {
  padding: 94px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
}
.clients__logo {
  height: 92px;
  width: 170px;
  border-radius: 4px;
  color: #afb1b8;
  border: 1px solid rgb(175, 177, 184);
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
}
.clients__logo:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.footer {
  background: #2f303a;
  color: #ffffff;
  padding: 60px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__header {
  display: block;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 80px;
}

.bottom-contacts {
  width: 246px;
}
.bottom-contacts__address {
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #ffffff;
  padding-bottom: 9px;
}
.bottom-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.bottom-contacts__link:hover {
  color: #2196f3;
  cursor: pointer;
}

.follow-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 82px;
  gap: 10px;
  padding: 0;
}
.follow-us__item {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  margin-top: 20px;
}
.follow-us__item:hover {
  background-color: #2196f3;
}

.newslatter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 82px;
  gap: 10px;
  padding: 0;
}
.newslatter__placeholder {
  height: 50px;
  width: 358px;
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 0px;
}
.newslatter__placeholder:hover, .newslatter__placeholder:active, .newslatter__placeholder:focus {
  border: 1px solid #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.newslatter__button {
  background-color: #2196f3;
  border-radius: 4px;
  border-style: none;
  padding-right: 42px;
  margin-left: 11px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto";
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 20px;
}
.newslatter__button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}
.newslatter__button:active {
  border: 1px solid #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.newslatter__button--logo {
  position: absolute;
  fill: #ffffff;
  width: 65px;
  height: 24px;
  margin-left: -4px;
  margin-top: -2px;
}

.portfolio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 94px;
  padding-right: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}
.portfolio-buttons__item {
  width: 121px;
  height: 38px;
  border-style: none;
  padding: 6px 22px;
  background: #f5f4fa;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 8px;
  font-weight: 500;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.portfolio-buttons__item:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  /* shadow-middle */
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 94px;
  margin-left: auto;
}
.product__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: #212121;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 24px;
  padding-top: 20px;
}
.product__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 4px;
}
.product__border {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.product__item {
  overflow: hidden;
  font-size: 16px;
  line-height: 1.875;
  /* border: 1px solid #eeeeee; */
  /* identical to box height, or 188% */
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  background: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
.product__item:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.product__item:hover .product__info--anime {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.product__info {
  position: absolute;
  max-width: 370px;
  max-height: 294px;
  overflow: hidden;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.product__info--anime {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  display: inline-block;
  position: relative;
  width: 374px;
  height: 295px;
  color: #f5f4fa;
  font-size: 18px;
  line-height: 1.6;
  padding-left: 24px;
  padding-top: 20px;
  text-align: left;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  max-width: 370px;
  max-height: 294px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms ease-in, visibility 250ms ease-in;
  transition: opacity 250ms ease-in, visibility 250ms ease-in;
}
.modal__hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #f5f4fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.modal__close-area {
  height: 20px;
  width: 20px;
}
.modal__form-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 2.3px;
  color: #212121;
}
.modal__description {
  margin-left: 15px;
  font-size: 12px;
}
.modal__icons {
  position: absolute;
  height: 20px;
  width: 20px;
}
.modal__icon-position1 {
  top: 126px;
  left: 52px;
}
.modal__icon-position2 {
  top: 192px;
  left: 52px;
}
.modal__icon-position3 {
  top: 258px;
  left: 51px;
}
.modal__terms-and-conditions {
  font-size: 14px;
  padding: 15px 0 20px 0;
}
.modal__terms-and-conditions input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.modal__terms-and-conditions input:checked ~ .modal__checkmark {
  background-color: #2196f3;
  border: none;
}
.modal__tick {
  position: absolute;
  width: 11px;
  height: 8px;
  left: 48px;
  top: 460px;
  z-index: 999;
  fill: #ffffff;
  cursor: pointer;
}
.modal__checkmark {
  position: absolute;
  cursor: pointer;
  height: 15px;
  width: 16px;
  top: 457px;
  left: 45px;
  border-radius: 2px;
  background-color: #ffffff;
  border: #212121 2px solid;
}
.modal__statement {
  cursor: pointer;
}
.modal__link-terms:hover {
  color: #757575;
  cursor: pointer;
}
.modal__button {
  background-color: #2196f3;
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto";
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.modal__button:hover {
  -webkit-box-shadow: 2px 2px 10px #2f303a;
          box-shadow: 2px 2px 10px #2f303a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #757575;
  -webkit-transform: scale(1.05) translateY(0.125rem);
          transform: scale(1.05) translateY(0.125rem);
}
.modal__form-input {
  display: block;
  padding: 0 0 0 32px;
  margin: 3px 20px 10px 15px;
  height: 40px;
  width: 448px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-comment {
  height: 120px;
  width: 448px;
  padding: 12px 16px;
  border-radius: 4px;
  resize: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.658);
}
.modal__form-comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.658);
}
.modal__form-comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.658);
}
.modal__form-comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.658);
}
.modal__form-comment::placeholder {
  color: rgba(117, 117, 117, 0.658);
}
.modal__form-comment:hover, .modal__form-comment:focus, .modal__form-comment_:active {
  border: #2196f3 1px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.modal__form-hover:hover > .modal__form-input, .modal__form-hover:focus-within > .modal__form-input, .modal__form-hover:active > .modal__form-input {
  border: #2196f3 1px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.modal__form-hover:hover > .modal__icons, .modal__form-hover:focus > .modal__icons {
  fill: #2196f3;
}
.modal__form-hover:focus-within {
  fill: #2196f3;
}/*# sourceMappingURL=main.css.map */