.assets {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 94px;

  &__header {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $header-color;
  }
  &__paragraph {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    padding-right: 30px;
    padding-top: 10px;
    letter-spacing: 0.03em;
  }
  &__icons {
    background-color: $button-color;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
