.bottom-contacts {
  // width: 100%;
  &__address {
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: $semi-text-color;
    padding-bottom: 9px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      & {
        justify-content: left;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      justify-content: left;
    }
  }

  // &__list {
  //   justify-content: center;
  //   text-align: center;
  // }

  &__link {
    display: flex;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 9px;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    &:hover {
      color: $hover-links-color;
      cursor: pointer;
    }
    @media screen and (min-width: 1200px) {
      & {
        justify-content: left;
      }
    }
  }
}
