.section-clients {
  padding: 94px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $semi-text-color;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    & {
      flex-wrap: nowrap;
    }
  }

  &__item {
    width: 100%;
    height: 92px;
    gap: 30px;
    justify-content: center;
    align-items: center;

    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: 768px) {
      & {
        flex-basis: calc((100% - 60px) / 3);
      }
    }
  }

  &__logo {
    border: 1px solid rgba(175, 177, 184, 1);
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    color: $icon-color;
    fill: $icon-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, border-color;
    // flex-basis: calc((100% - 30px) / 2);
    &:hover {
      border-color: $hover-links-color;
      fill: $hover-links-color;
    }
  }
  &__container {
    min-width: 320px;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;

    @media screen and (min-width: 768px) {
      & {
        margin: 0 auto;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        padding: 0;
      }
    }
  }
}
