.follow-us {
  display: flex;
  list-style: none;
  margin-left: 82px;
  gap: 10px;
  padding: 0;
  &__item {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: $footer-icon;
    fill: $semi-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    margin-top: 20px;

    &:hover {
      background-color: $hover-links-color;
    }
  }
}
