.footer {
  background: #2f303a;
  color: $semi-text-color;
  padding: 60px 15px;
  width: 100%;
  gap: 50px;
  // flex-basis: calc((100% - 50px) / 2);

  &__container {
    // display: flex;
    display: block;
    margin: 0 auto;
    align-items: baseline;
    justify-content: space-around;
    gap: 50px;

    @media screen and (min-width: 768px) {
      & {
        // margin-left: auto;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-basis: calc((100% - 50px) / 2);
        margin-left: 76px;
        margin-right: 150px;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        // max-width: 1200px;
        gap: 70px;
        flex-basis: calc((100% - 240px) / 3);
        margin: auto;
        align-items: baseline;
        justify-content: center;
        flex-wrap: nowrap;
      }
    }
  }

  &__header {
    display: flex;
    font-weight: 700;
    color: $semi-text-color;
    text-transform: uppercase;
    margin-top: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      & {
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 0;
        align-items: baseline;
        // margin: 0 216px;
        margin-right: 8px;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        // margin-left: 20px;
        justify-content: left;
      }
    }
  }
}
