// $hover-links-color: #2196f3;
// $semi-text-color: black;

.logo-top {
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  align-items: center;
  letter-spacing: 0.03em;
  color: $hover-links-color;
  & > span {
    color: $header-color;
  }
}

.logo-bottom {
  color: $semi-text-color;
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  align-items: center;
  letter-spacing: 0.03em;
  color: $hover-links-color;
  padding-bottom: 20px;

  & > span {
    color: $semi-text-color;
  }
}
