.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: $semi-text-color;
  display: flex;
  font-size: 12px;
  align-items: center;
  flex-direction: column;

  &__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $background-backdrop;
    transition: opacity 250ms ease-in, visibility 250ms ease-in;
  }
  &__hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: $button-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  &__close-area {
    height: 20px;
    width: 20px;
  }

  &__form-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 2.3px;
    color: $header-color;
  }
  &__description {
    margin-left: 15px;
    font-size: 12px;
  }
  &__icons {
    position: absolute;
    height: 20px;
    width: 20px;
  }

  &__icon-position1 {
    top: 126px;
    left: 52px;
  }
  &__icon-position2 {
    top: 192px;
    left: 52px;
  }
  &__icon-position3 {
    top: 258px;
    left: 51px;
  }
  &__terms-and-conditions {
    font-size: 14px;
    padding: 15px 0 20px 0;
    & input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      &:checked ~ .modal__checkmark {
        background-color: $hover-links-color;
        border: none;
      }
    }
  }

  &__tick {
    position: absolute;
    width: 11px;
    height: 8px;
    left: 48px;
    top: 460px;
    z-index: 999;
    fill: $semi-text-color;
    cursor: pointer;
  }
  &__checkmark {
    position: absolute;
    cursor: pointer;
    height: 15px;
    width: 16px;
    top: 457px;
    left: 45px;
    border-radius: 2px;
    background-color: $semi-text-color;
    border: $header-color 2px solid;
  }

  &__statement {
    cursor: pointer;
  }

  &__link-terms:hover {
    color: $paragraph-color;
    cursor: pointer;
  }

  &__button {
    background-color: $hover-links-color;
    border-radius: 4px;
    border-style: none;
    width: 200px;
    height: 50px;
    color: $semi-text-color;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto";
    transition: 0.2s;

    &:hover {
      box-shadow: 2px 2px 10px $button-hover;
      transition: 0.3s;
      background-color: $paragraph-color;
      transform: scale(1.05) translateY(0.125rem);
    }
  }
  &__form-input {
    display: block;
    padding: 0 0 0 32px;
    margin: 3px 20px 10px 15px;
    height: 40px;
    width: 448px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__form-comment {
    height: 120px;
    width: 448px;
    padding: 12px 16px;
    border-radius: 4px;
    resize: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
      color: rgba(117, 117, 117, 0.658);
    }
    &:hover,
    &:focus,
    &_:active {
      border: $hover-links-color 1px solid;
      box-shadow: none;
      outline: none;
    }
  }

  &__form-hover:hover > &__form-input,
  &__form-hover:focus-within > &__form-input,
  &__form-hover:active > &__form-input {
    border: $hover-links-color 1px solid;
    box-shadow: none;
    outline: none;
  }
  &__form-hover:hover > &__icons,
  &__form-hover:focus > &__icons {
    fill: $hover-links-color;
  }
  &__form-hover:focus-within {
    fill: $hover-links-color;
  }
}
